<form action="login">
    <div>
        <label for="username">Username:</label>
        <input type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text">
    </div>
    <div>
        <button type="submit" class="btm">Login</button>
        <p>Don't have an account? <a href="/signup">Signup</a> instead</p>
    </div>
</form>