<h1>signup</h1>

<form action="signup">
    <div>
        <label for="username">Username</label>
        <input type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text">
    </div>
    <div>
        <button type="submit" class="btn">Sign me up</button>
    </div>
    <div>
        <p>Already have an accrount? <a href="/login">Login</a> now</p> 
    </div>
</form>